/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

block related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  word-spacing: normal | <length>
~  letter-spacing : normal | <length>
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to all the elements
    ^ Can animate

~  vertical-align : baseline | sub | super | text-top | text-bottom | middle | top | bottom | <percentage> | <length>
    ^ default value is baseline
    ^ This property doesn't gets inherited
    ^ This property can be applied to very few elements, like img, input, td, tr, table
    ^ you can animate
https://developer.mozilla.org/en-US/docs/Web/CSS/vertical-align


~  text-align : left | right | center | justify
    ^ default value is left - depends on page direction
    ^ This property gets inherited
    ^ This property can be applied to all the elements
    ^ Can't animate

~  text-indent
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to block level elements
    ^ Can't animate

~  white-space: normal | pre | nowrap | pre-wrap | pre-line
    ^ default value is auto
    ^ This property gets inherited
    ^ This property can be applied to block level elements
    ^ Can't animate
    https://developer.mozilla.org/en/docs/Web/CSS/white-space


~  display: block | inline | inline-block | 
            table | table-row | table-cell | 
            list-item | none
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  content – 
~  text-overflow - clip | ellipsis 



auto;
inherit;

*/




/* ==========================================================================
   Demo of Block related properties
   ========================================================================== */

/*----------  Word-spacing demo  ----------*/
.ws-demo{
  word-spacing: 20px;
}

/*----------  letter-spacing demo  ----------*/
.ls-demo{
  letter-spacing: 10px;
}

/*----------  letter-spacing demo  ----------*/
.va-demo{
  vertical-align: middle;
}
.box{
  width: 200px;
  height: 200px;
  border: solid 2px red;
  margin: 20px auto;
  vertical-align: middle;
  text-align: center;
}

/*----------  letter-spacing demo  ----------*/
.ta-r{text-align: right; }
.ta-c{text-align: center; }
.ta-l{text-align: left; }
.ta-j{text-align: justify; }

/*----------  text-indent demo  ----------*/
.ti-positive{text-indent: 55px;}
.ti-negative{text-indent: -55px;}


/*----------  white-space demo  ----------*/
.ws-pre{white-space: pre}
.ws-nowrap{white-space: nowrap}
.ws-pre-wrap{white-space: pre-wrap;}
.ws-pre-line{white-space: pre-line;}
.word-break{
  word-break: break-all;
}
.div-overflow{
  overflow-y: auto;
}
/*----------  display demo  ----------*/

.bd2{
  border: solid 2px red;
}
.dis-block{display: block; }
.dis-inline{display: inline; }
.dis-inline:hover{display: none; }


.circle{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #F44336;
  border: solid 3px #D32F2F;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  transition: all 250ms ease;
  position: relative;
}
.circle:hover{
  width: 120px;
  height: 120px;
  line-height: 120px;
  transform: rotate(360deg);

}
.circle .sub-circle{
  width: 75px;
  height: 75px;
  background-color: #4CAF50;
  border: solid 3px #388E3C;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
  transition: all 250ms ease;
  position: absolute;
  left: 0;right: 0;
  top: 0;bottom: 0;
  vertical-align: middle;
  margin: auto;
  opacity: 0;
  display: none;
  transition: all 250ms ease;
}
.circle:hover .sub-circle{
  display: block;
  opacity: 1;
}

.circle:after{
  content: "green";
}

.content-demo{color: crimson}
.content-demo:before{
  color: crimson;
  content:"Chapter 1: ";
  font-size: 1.4em;
  color: #444;
  font-weight: 400;
}
.content-demo:after{
  color: crimson;
  content:"To be continued... ";
  font-size: .8em;
  color: #444;
  font-weight: 400;
}


.widget{
  margin: 10px;
}
.widget header{
  background-color: #1976D2;
  position: relative;
  border-radius: 10px 10px 0 0;
}
.widget .content{
  border: solid 2px #1976D2;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  border-top: none;
}
.widget header h2{
  color: #FFF;
  font-size: 2em;
  font-weight: 300;
  line-height: 2em;
  margin:0 50px 0 0;
  padding-left: 20px;
  white-space: nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
}
.widget header h2:after{
  background-color: #B3E5FC;
  position: absolute;
  bottom: 0;
  left: 2px;
  font-size: 14px;
  line-height: 20px;
  padding: 0 10px;
  color: #BDBDBD;
  content: attr(title);
  display: none;
}
.widget header h2:hover:after{
  display: block;
}
.close{
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #fff;
  right: 20px;
  top: 0;bottom: 0;
  margin: auto 0;
}
.close:before,
.close:after{
  width: 3px;
  height: 20px;
  position: absolute;
  background-color: #000;
  top: 0;
  content: "";
}
.close:before{
  left: 9px;
  transform: rotate(45deg);
}
.close:after{
  right: 8px;
  transform: rotate(-45deg);
}










