/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Background related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  background-color -
    ^ default value transparent
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
~  background-image - url()
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  background-repeat: repeat | no-repeat | repeat-x | repeat-y
    ^ default value is repeat
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-attachment- scroll | fixed
    ^ default value is scroll
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-position
    values are specified in key words as x & y codordinates
      for x - left center right
      for y - top center bottom
      you can also specify as length

    ^ default value is left top - 0 0
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

background [color image repeat attachment position]

~  background-size – auto | contain | cover | -length-
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate




Sprites - 
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3



auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Background related properties
   ========================================================================== */

/*----------  background-color  ----------*/
.bg-c{
  border: dotted 10px rgba(0,0,0,.5);
  background-color: royalblue;
  padding: 10px;
  text-align: center;
  transition: all 500ms ease-in;
}
.bg-c:hover{
  background-color: transparent;
}

/*----------  background-image  ----------*/

.box{
  border: solid 1px #CCC;
  min-height: 100px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.bg-i-1{
  background-image: url('../img/bullet-20x20.png');
  background-color: #FFCCBC;
}
.bg-i-2{
  background-image: url('../img/learn-to-build-beautiful-websites.jpg');
  background-color: #FFCCBC;
}

/*----------  background-repeat  ----------*/
.bg-r{
  /*background-repeat: repeat;*/
  /*background-repeat: no-repeat;*/
  /*background-repeat: repeat-x;*/
  background-repeat: repeat-y;
}



