/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Background related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  background-color -
    ^ default value transparent
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
~  background-image - url()
    ^ default value none
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate

~  background-repeat: repeat | no-repeat | repeat-x | repeat-y
    ^ default value is repeat
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-attachment- scroll | fixed
    ^ default value is scroll
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

~  background-position
    values are specified in key words as x & y codordinates
      for x - left center right
      for y - top center bottom
      you can also specify as length

    ^ default value is left top - 0 0
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate

background [color image repeat attachment position]

~  background-size – auto | contain | cover | -length-
    ^ default value is auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can't animate




Sprites - 
background-origin – border-box, padding-box, content-box
background-clip – 
multiple backgrounds – CSS3
Gradient Backgrounds – CSS3



auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Background related properties
   ========================================================================== */

/*----------  background-color  ----------*/
.bg-c{
  border: dotted 10px rgba(0,0,0,.5);
  background-color: royalblue;
  padding: 10px;
  text-align: center;
  transition: all 500ms ease-in;
}
.bg-c:hover{
  background-color: transparent;
}

/*----------  background-image  ----------*/

.box{
  border: solid 1px #CCC;
  min-height: 100px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.bg-i-1{
  background-image: url('../img/bullet-20x20.png');
  background-color: #FFCCBC;
}
.bg-i-2{
  background-image: url('../img/learn-to-build-beautiful-websites.jpg');
  background-color: #FFCCBC;
}

/*----------  background-repeat  ----------*/
.bg-r{
  /*background-repeat: repeat;*/
  /*background-repeat: no-repeat;*/
  /*background-repeat: repeat-x;*/
  background-repeat: repeat-y;
}
.bg-rx{
  background-repeat: repeat-x;
}
.bg-multiple{
  background-image: url('../img/bullet-16x16.png'), url('../img/bullet-16x16.png');
  background-repeat: repeat-x, repeat-y;
  background-color: #FFCCBC;
}

/*----------  background-attachment  ----------*/
.bg-attach{
  background-image: url('../img/do-not-read-while-you-drive.jpg');
  min-height: 300px;
  background-attachment: scroll;
}
.bg-attach1{
  background-image: url('../img/learn-to-build-beautiful-websites.jpg');
  min-height: 300px;
  background-attachment: fixed;
}


/*----------  background-position  ----------*/
.bg-pos{
  background-image: url('../img/bullet-20x20.png');
  background-repeat: no-repeat;
}
.bg-pos1{
  /*background-position: left top;*/
  /*background-position: right bottom;*/
  /*background-position: center center;*/
  /*background-position: left bottom;*/
  background-position: center;
}
.bg-pos2{
  /*background-position: 0% 0%;*/
  /*background-position: 100% 100%;*/
  /*background-position: 50% 50%;*/
  /*background-position: 0% 100%;*/
  background-position: 50%;
}
.bg-pos3{
  background-position: 100px 110px;
}

/*----------  Sprite demo  ----------*/

.box1{
  min-height: 305px;
  border: solid 2px red;
  background-image: url('../img/friend-sprite.jpg');
  margin-bottom: 20px;
}
.friends{
  border: solid 6px green;
}
.friends:after{
  content: "";
  display: block;
  clear: both;
}
.friend{
  border: solid 3px red;
  margin: 0;
  float: left;
  width: 155px;
  height: 138px;
  background-image: url('../img/friend-sprite.jpg');
  background-repeat: no-repeat;
}
.f01{background-position: -10px -10px;}
.f02{background-position: -175px -10px;}
.f03{background-position: -340px -10px;}
.f04{background-position: -505px -10px;}
.f05{background-position: -670px -10px;}
.f06{background-position: -835px -10px;}

.f07{background-position: -10px -157px;}
.f08{background-position: -175px -157px;}
.f09{background-position: -340px -157px;}
.f10{background-position: -505px -157px;}
.f11{background-position: -670px -157px;}
.f12{background-position: -835px -157px;}

/*----------  background - shorthand  ----------*/

.bg-demo{
  min-height: 400px;
/*
  background-color: lightblue;
  background-image: url('../img/do-not-read-while-you-drive.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center top;
*/
  background: lightblue url('../img/do-not-read-while-you-drive.jpg')  center top;
}

.bgsz{
  /*background-size: contain;*/
  /*background-size: cover;*/
  background-size: 400px auto;
}


/*----------  background-origin & clip  ----------*/

.bgorigin{
  border: 20px solid rgba(0,0,0,.5);
  padding: 40px;
  background-repeat: no-repeat;
  background-origin: content-box;
}
.bg-gradient1{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4699f2+0,344ac9+100 */
  background: #4699f2; /* Old browsers */
  background: linear-gradient(to bottom,  #512DA8 0%,#4527A0 100%);
}
.bg-gradient2{

  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4699f2+0,344ac9+100 */
  background: #4699f2; /* Old browsers */
  background: radial-gradient(ellipse at center,  #FF0000 0%,#00FF00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  margin: 20px auto;
}




