/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  position: static | relative | absolute | fixed  |  sticky
    ^ default value static
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
    eg: 
      .someclass{position:relative}
      .someclass{position:absolute}
      .someclass{position:sticky}
      .someclass{position:fixed}

~  top   : <length>
~  bottom: <length>
~  right : <length>
~  left  : <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate

~  z-index: auto | <integer>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate



~  visibility: visible | hidden | collapse
Applies to all elements
overflow: visible | hidden | scroll | auto
overflow-x
overflow-y


auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Position related properties
   ========================================================================== */


/*----------  colors  ----------*/
.indianred        {background-color: indianred}
.lightcoral       {background-color: lightcoral}
.salmon           {background-color: salmon}
.darksalmon       {background-color: darksalmon}
.lightsalmon      {background-color: lightsalmon}
.crimson          {background-color: crimson}
.red              {background-color: red}
.firebrick        {background-color: firebrick}
.darkred          {background-color: darkred}
.pink             {background-color: pink}

.indianred,
.lightcoral,
.salmon,
.crimson,
.red,
.firebrick,
.darkred{color: #FFF}



/*----------  position: static;  ----------*/

.po-static{
  position: static;
  left: 300px;
}

/*----------  position: relative;  ----------*/

.po-relative{
  position: relative;
}

.box1{
  width: 100px;
  min-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  float: left;
}
.cf:after{
  content: "";
  display: block;
  clear: both;
}

.box1.firebrick{z-index: 1}

.box1.salmon{ 
  border-bottom: solid 4px green;
  right: 50px;
  top: 20px;
}
.box1.lightsalmon{ 
  border-bottom: solid 4px green;
  left: 50px;
  top: 20px;
  z-index: 2;
}
.box1.crimson{z-index: 1}

.box1.salmon{} /*Targets any element with both classes "box1" and "salmon"*/
div.salmon{} /* targets div element with class "salmon"*/
h2#salmon{} /* targets h2 element with id "salmon"*/
.box1 .salmon{} /* targets any element with class "salmon" 
                   which is child of any elemnt with class "box1"*/
.box1, .salmon{} /* This is Grouping, 
                    targets any elements with class "salmon" or "box1"*/


/*----------  position: absolute;  ----------*/


.box2{
  margin: 10px;
  padding: 10px;
}

.po-absolute.salmon{
  border-bottom: solid 2px red;
  width: 150px;
  height: 30px;
  position: absolute;
  opacity: .75;
}

.poa1{
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}
div.poa1{
  z-index: 1
}


/*----------  hero-banner  ----------*/

.kg-banner{position: relative;}
.kg-banner .slide{}
.kg-banner .slide img{
  width: 100%;
  height: auto;
  display: block;
}
.kg-banner .quote{
  background-color: rgba(0,0,0,.5);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
}

.arrows > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.arrows .left {left: 0}
.arrows .right {right: 0}


/*----------  position:sticky;  ----------*/


.demo h3{
  border-bottom: solid 5px #1565C0;
  background-color: #FFF;
  color: #2196F3;
  position: sticky;
  top: 10px;
}



/*----------  Sub Nav styles  ----------*/


.new-site-header{
  background-color: #8BC34A;
  padding: 15px;
  border-radius: 10px
}
.new-site-header:after{
  content: "";
  display: block;
  clear: both;
}

.-kg-logo{
  margin: 0;
  float: left;
}
.-kg-logo a{
  display: block;
}
.-kg-logo a img{
  display: block;
}
.-kg-sub-nav{
  float: right;
  margin-top: 6px;
}
.-kg-menu{
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.-kg-menu:after{
  content: "";
  display: block;
  clear: both;
}
.-kg-menu > li{
  float: left;
  padding-left: 10px;
  position: relative;
}
.-kg-menu > li:first-child{
  padding-left: 0; 
}
.-kg-menu > li > a{
  color: #F1F8E9;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  padding: 0 10px 0 30px;
  display: block;
  position: relative;
  border: solid 1px #F1F8E9;
  border-radius: 4px;
}
.-kg-menu > li > a:before{
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  background-color: #F1F8E9;
  border-radius: 50%;
  left: 8px;
  top: 0;bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.-kg-menu > li > a:hover,
.-kg-menu > li:hover > a,
.-kg-menu > li.selected > a{
  background-color: #F1F8E9;
  color: #8BC34A;
}
.-kg-menu > li > a:hover:before,
.-kg-menu > li:hover > a:before,
.-kg-menu > li.selected > a:before{
  background-color: #8BC34A;
}

/*----------  Sub Menu  ----------*/


.-kg-menu > li.has-kg-sub-menu > a{
  padding-right: 18px
}
.-kg-menu > li.has-kg-sub-menu > a:after{
  content: "";
  position: absolute;
  right: 6px;
  top: 6px;
  width: 6px;
  height: 6px;
  border-right: solid 2px #F1F8E9;
  border-bottom: solid 2px #F1F8E9;
  transform: rotate(45deg);
  transition: all 250ms ease;
}
.-kg-menu > li.has-kg-sub-menu:hover > a:after{
  border-right-color: #8BC34A;
  border-bottom-color: #8BC34A;
  transform: rotate(-45deg);
  top: 8px
}
.-kg-menu > li .kg-sub-menu{
  background-color: #DCEDC8;
  border: solid 2px #8BC34A;
  padding-left: 0;
  list-style: none;
  position: absolute;
  left: 10px;
  top: 27px;
  width: 180px;
  border-radius: 0 0 6px 6px;
  display: none;
}
.-kg-menu > li:hover .kg-sub-menu{
  display: block;
}

.kg-sub-menu li a{
  display: block;
  font-size: 13px;
  color: #444;
  text-decoration: none;
  padding: 0 15px;
  line-height: 30px;
  border-bottom: solid 1px #CCC;
}
.kg-sub-menu li a:hover{
  background-color: #F1F8E9
}













