/* ==========================================================================
    Few points to remeber for every CSS property
    +++++++++++++++++++++++++++++++++++++++++++++++
    • Default values for different elements
    • Overriding & different values that can be given
    • Inheritence
    • Can they be applied to all elements
    • Can they be animated
   ========================================================================== */
/*

Position related style properties
+++++++++++++++++++++++++++++++++++++++++++

~  position: static | relative | absolute | fixed  |  sticky
    ^ default value static
    ^ This property doesn't gets inherited
    ^ This property can be applied to all elements
    ^ You can animate
    eg: 
      .someclass{position:relative}
      .someclass{position:absolute}
      .someclass{position:sticky}
      .someclass{position:fixed}

~  top   : <length>
~  bottom: <length>
~  right : <length>
~  left  : <length>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate

~  z-index: auto | <integer>
    ^ default value auto
    ^ This property doesn't gets inherited
    ^ This property can be applied to all positioned elements
    ^ You can animate



~  visibility: visible | hidden | collapse
Applies to all elements
overflow: visible | hidden | scroll | auto
overflow-x
overflow-y


auto;
inherit;

Background related important links
+++++++++++++++++++++++++++++++++++++++++++

https://developer.mozilla.org/en/docs/Web/CSS/background-color
*/

/* ==========================================================================
   Demo of Position related properties
   ========================================================================== */


/*----------  colors  ----------*/
.indianred        {background-color: indianred}
.lightcoral       {background-color: lightcoral}
.salmon           {background-color: salmon}
.darksalmon       {background-color: darksalmon}
.lightsalmon      {background-color: lightsalmon}
.crimson          {background-color: crimson}
.red              {background-color: red}
.firebrick        {background-color: firebrick}
.darkred          {background-color: darkred}
.pink             {background-color: pink}

.indianred,
.lightcoral,
.salmon,
.crimson,
.red,
.firebrick,
.darkred{color: #FFF}



/*----------  position: static;  ----------*/

.po-static{
  position: static;
  left: 300px;
}

/*----------  position: relative;  ----------*/

.po-relative{
  position: relative;
}

.box1{
  width: 100px;
  min-height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  float: left;
}
.cf:after{
  content: "";
  display: block;
  clear: both;
}

.box1.firebrick{z-index: 1}

.box1.salmon{ 
  border-bottom: solid 4px green;
  right: 50px;
  top: 20px;
}
.box1.lightsalmon{ 
  border-bottom: solid 4px green;
  left: 50px;
  top: 20px;
  z-index: 2;
}
.box1.crimson{z-index: 1}

.box1.salmon{} /*Targets any element with both classes "box1" and "salmon"*/
div.salmon{} /* targets div element with class "salmon"*/
h2#salmon{} /* targets h2 element with id "salmon"*/
.box1 .salmon{} /* targets any element with class "salmon" 
                   which is child of any elemnt with class "box1"*/
.box1, .salmon{} /* This is Grouping, 
                    targets any elements with class "salmon" or "box1"*/


/*----------  position: absolute;  ----------*/


.box2{
  margin: 10px;
  padding: 10px;
}

.po-absolute.salmon{
  border-bottom: solid 2px red;
  width: 150px;
  height: 30px;
  position: absolute;
  opacity: .75;
}

.poa1{
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
}
div.poa1{
  z-index: 1
}


/*----------  hero-banner  ----------*/

.kg-banner{position: relative;}
.kg-banner .slide{}
.kg-banner .slide img{
  width: 100%;
  height: auto;
  display: block;
}
.kg-banner .quote{
  background-color: rgba(0,0,0,.5);
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #FFF;
}

.arrows > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  top: 0;bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.arrows .left {left: 0}
.arrows .right {right: 0}


/*----------  position:sticky;  ----------*/


.demo h3{
  border-bottom: solid 5px #1565C0;
  background-color: #FFF;
  color: #2196F3;
  position: sticky;
  top: 10px;
}






















