 @import url('https://fonts.googleapis.com/css?family=Rasa:500|Roboto:300,400');

html{
	font-size: 1em;
}
body{
	color: #444;
	line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}

/*----------  Menu Styles  ----------*/

.site-header{
	background-color: #1976D2;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.5);
	position: relative;
}
.logo{
  font-family: 'Rasa', serif;
	font-weight: 500;
	text-align: center;
  font-size: 60px;
	line-height: .8;
	padding:  25px 0 15px;
}
.logo a{
  color: #FFF;
  text-decoration: none;
}
.site-nav{
	background-color: #2196F3;
}


.menu{
	margin: 0;
	padding-left: 0;
	text-align: center;
}
.menu li{
	display: inline-block;
	padding: 10px 5px 0;
}
.menu li a{
	font-size: .8em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 500ms ease;
	color: #FFF;
	padding: 8px 0;
	display: block;
	text-align: center;
	position: relative;
 }
.menu li a:after{
	content: "";
	width: 0;
	height: 4px;
	background-color: #FFC107;
	position: absolute;
	left: 0;right: 0;
	margin-left: auto;
	margin-right: auto;
	bottom: 0;
	transition: all 350ms ease-in;
 }
.menu li a:hover,
.menu li.active a{
		color: #FFC107;
}
.menu li.active a{
		font-weight: 400;
}
.menu li.active a:after,
.menu li a:hover:after{
	width: 100%;
 }

/*----------  Banner Styles  ----------*/

.banner{
	background-image: url('../img/pattern.svg');
	background-position: 0 0;
	background-repeat: no-repeat;
	padding: 10px 10px 30px 80px;
}
.banner h1{
  font-family: 'Rasa', serif;
	font-weight: 500;
  font-size: 48px;
  margin-bottom: 0;
}
.banner p{
  font-size: 18px;
  margin-top: 0;
}




/*----------  Layout commons  ----------*/

.container{
	max-width: 1000px;
	margin: 20px auto
}
.sub-title{
	border-bottom: solid 3px #CCC;
}
.sub-title span{
	background-color: #CCC;
	color: #444;
	font-weight: 300;
	padding: 2px 10px 3px;
}
.sub-title strong{
	font-weight: 400;
	font-size: 14px;
}
.demo{
	padding: 10px;
	margin-bottom: 10px;
	border: dotted 1px #CCC;
}

/*----------  Footer  ----------*/

.site-footer{
	background-color: #BDBDBD;
	color: #F5F5F5;
	font-size: .8em;
	text-align: center;
	padding: 10px;
	margin-top: 50px;

}



