html{
	font-size: 1em;
}
body{
	color: #444;
	line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/*----------  Menu Styles  ----------*/

.menu{
	border: solid 2px red;
}
.menu li{
	display: inline-block;
	width: 10%;
}


.menu li a{
	font-size: .8em;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 500ms ease;
	color: orange;
	background-color: #FFCC80;
	padding: 10px;
	display: block;
	text-align: center;
 }
.menu li a:hover,
.menu li.active a{
		color: forestgreen;
}

/*----------  Layout commons  ----------*/

.container{
	max-width: 1000px;
	margin: 20px auto
}
.sub-title{
	border-bottom: solid 3px #CCC;
}
.sub-title span{
	background-color: #CCC;
	color: #444;
	font-weight: 300;
	padding: 2px 10px 3px;
}
.demo{
	padding: 10px;
	border: dotted 1px #CCC;
}

/*----------  Footer  ----------*/

.site-footer{
	background-color: #BDBDBD;
	color: #F5F5F5;
	font-size: .8em;
	text-align: center;
	padding: 10px;
	margin-top: 50px;

}



