html {
  font-size: 1em;
  box-sizing: border-box;
}
*,
*:after,
*:before{
  box-sizing: inherit;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  line-height: 1.45;
  color: #444;
}
p {margin-bottom: 1.3em;}
h1,
h2,
h3,
h4 {
  margin: 1.414em 0 0.5em;
  font-family: 'Spirax', cursive;
  font-weight: 400;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 5.063em;
}
h2 {font-size: 3.375em;}
h3 {font-size: 2.25em;}
h4 {font-size: 1.5em;}
small,
.font_small {font-size: 0.667em;}


/**
 *
 * Custom CSS
 *
 */

.section{
	text-align: center;
}
.container{
	max-width: 980px;
	margin: 0 auto;
	padding: 1px 0
}
.bg-pink  {background-color: #c2185b;}
.bg-white {background-color: #FFF;}

.lead{
	font-size: 1.5rem;
	color: #666;
}
.bg-pink h1 {color: #FFF}
.bg-pink .lead {color: #CCC}


/*----------  Gmail Tabs CSS  ----------*/

.gmail-tabs{
  clear: both;
}
.tabz{
  margin: 0;
  padding-left: 0;
  list-style: none;
  text-align: left;
}
.tabz:after{
  content: "";
  display: block;
  clear: both;
}
.tabz li{
  float: left;
  width: 33.3333%;
}
.tabz li a{
  display: block;
  position: relative;
  text-decoration: none;
  border: solid 1px #f4f4f4;
  padding: 4px 8px;
}
.tabz li a:hover{
  border-top-color: orange;
  border-top-width: 3px;
  background-color: #f4f4f4;
  padding-top: 2px;
}
.tabz li a i{
  float: left;
  font-size: 40px;
  color: #CCC;
  width: 40px;
  margin-top: 5px;
}
.tabz li a div{
  margin-left: 50px;
}
.tabz li a strong{
  color: #444;
  font-size: 20px;
}
.tabz li a b{
  color: #FFF;
  font-size: 11px;
  padding: 0px 4px;
  border-radius: 3px;
  background-color: orange;
  display: inline-block;
}
.tabz li a span{
  color: #666;
  font-size: 12px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}













